In [1]:
print('Anything you find cool')

Anything you find cool

In [7]:
a=input('enter number 1')
b=input('enter number2')
print('the sum is',(int(a)+int(b)))

enter number 12
enter number24
the sum is 6

In [8]:
str1=input('enter first string')
str2=input('enter second string')
print('the concatenated string is',(str1+" "+str2))

enter first stringanvvi
enter second stringmalik
the concatenated string is anvvi malik

In [9]:
s1=input('enter a string')
num1=input('enter a number')
print('the concatenated result is',(s1+num1))

enter a stringanvvi
enter a number7
the concatenated result is anvvi7

In [11]:
n1=int(input('enter a number'))
if(n1>0):
  print('the number is positive')
elif(n1<0):
  print('the number is negative')
else:
  print('the number is equal to zero')

enter a number2
the number is positive

In [13]:
numm=int(input('enter a number'))
if(numm%2==0):
  print('the number is even')
else:
  print('the number is odd')

enter a number5
the number is odd

In [17]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
i=1
while(i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [19]:
sum=0;
for i in range(1,101):
  sum=sum+i
print(sum)

5050

In [22]:
l=[21,1,0,15,-2]
print(max(l))
print(min(l))

21
-2

In [24]:
dict={
    'age':19,
    'name':'anvvi',
    '|city':'ludhiana'
}
print(dict['name'])

anvvi

In [26]:
arr=[1,21,7,32,20]
arr.sort()
print(arr)
arr.sort(reverse=True)
print(arr)

[1, 7, 20, 21, 32]
[32, 21, 20, 7, 1]

In [27]:
dict1={
    'name':'anvvi',
    'age':19,
    'city':'ludhiana'
}

dict2={
    'college':'TIET',
    'branch':'COPC',
    'group':'2Q15'
}

dict1.update(dict2)
print(dict1)

{'name': 'anvvi', 'age': 19, 'city': 'ludhiana', 'college': 'TIET', 'branch': 'COPC', 'group': '2Q15'}

In [28]:
str1=input('enter a string')
count=0
for vowel in str1:
  if(vowel=='a' or vowel=='e' or vowel=='i'or vowel=='o' or vowel=='u'):
    count=count+1
print(count)

enter a stringanvvi
2

In [30]:
s1=input('enter a string')
reversed_s1 = s1[::-1]
print(reversed_s1)

enter a stringanvvi
ivvna

In [32]:
s1=input('enter a string')
reversed_s1=s1[::-1]
if(s1==reversed_s1):
  print('it is a palindrome')
else:
  print('not a palindrome')

enter a stringanvvi
not a palindrome

In [33]:
file_name = "example.txt"


with open(file_name, "w") as file:
    file.write("This is the first line of the file.\n")
    file.write("This is the second line.\n")
with open(file_name, "r") as file:
    content = file.read()
    print("Content of the file:")
    print(content)

Content of the file:
This is the first line of the file.
This is the second line.

In [34]:
file_name = "example.txt"

with open(file_name, "a") as file:
    file.write("This is an appended line.\n")

with open(file_name, "r") as file:
    updated_content = file.read()
    print("Updated content of the file:")
    print(updated_content)

Updated content of the file:
This is the first line of the file.
This is the second line.
This is an appended line.

In [35]:
file_name = "example.txt"

with open(file_name, "r") as file:
    lines = file.readlines()
    line_count = len(lines)

print(f"The file contains {line_count} lines.")

The file contains 3 lines.

In [37]:
try:
    numerator = int(input("Enter the numerator: "))
    denominator = int(input("Enter the denominator: "))
    result = numerator / denominator
    print(f"Result: {result}")
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

Enter the numerator: 2
Enter the denominator: 0
Error: Division by zero is not allowed.

In [39]:
try:
    number = int(input("Enter a number: "))
    print(f"You entered the number: {number}")
except ValueError:
    print("Error: Invalid input. Please enter a valid integer.")

Enter a number: 2.3
Error: Invalid input. Please enter a valid integer.

In [40]:
try:
    numerator = int(input("Enter the numerator: "))
    denominator = int(input("Enter the denominator: "))
    result = numerator / denominator
    print(f"Result: {result}")
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
except ValueError:
    print("Error: Invalid input. Please enter integers only.")
finally:
    print("Execution of the try-except block is complete.")

Enter the numerator: 2
Enter the denominator: 0
Error: Division by zero is not allowed.
Execution of the try-except block is complete.

In [41]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Random numbers:", random_numbers)

Random numbers: [60, 31, 26, 75, 11]

In [43]:
import random


def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True


random_number = random.randint(1, 100)
print(f"Random number: {random_number}")
if is_prime(random_number):
    print(f"{random_number} is a prime number.")
else:
    print(f"{random_number} is not a prime number.")

Random number: 83
83 is a prime number.

In [44]:
import random

die_roll = random.randint(1, 6)
print(f"You rolled a {die_roll}.")

You rolled a 3.

In [45]:
import random


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


random.shuffle(numbers)
print("Shuffled list:", numbers)

Shuffled list: [4, 3, 1, 6, 7, 9, 5, 8, 10, 2]

In [46]:
import random

items = ['apple', 'banana', 'cherry', 'date', 'elderberry']


selected_item = random.choice(items)
print(f"Randomly selected item: {selected_item}")

Randomly selected item: cherry

In [47]:
import random
import string

def generate_password(length):
    characters = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(random.choice(characters) for _ in range(length))
    return password

password_length = int(input("Enter the desired password length: "))
print(f"Generated password: {generate_password(password_length)}")

Enter the desired password length: 7
Generated password: i6?9b/"

In [48]:
import random


suits = ['Hearts', 'Diamonds', 'Clubs', 'Spades']
ranks = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'Jack', 'Queen', 'King', 'Ace']
deck = [f"{rank} of {suit}" for suit in suits for rank in ranks]

random_card = random.choice(deck)
print(f"Randomly selected card: {random_card}")

Randomly selected card: 4 of Diamonds

In [50]:
import sys

if len(sys.argv) != 3:
    print("Usage: python program.py <num1> <num2>")
else:
    try:
        num1 = float(sys.argv[1])
        num2 = float(sys.argv[2])
        result = num1 + num2
        print(f"The sum of {num1} and {num2} is: {result}")
    except ValueError:
        print("Error: Please provide valid numbers.")

Error: Please provide valid numbers.

In [51]:
import sys
sys.argv = ["program.py", "5", "10"]

if len(sys.argv) != 3:
    print("Usage: python program.py <num1> <num2>")
else:
    try:
        num1 = float(sys.argv[1])
        num2 = float(sys.argv[2])
        result = num1 + num2
        print(f"The sum of {num1} and {num2} is: {result}")
    except ValueError:
        print("Error: Please provide valid numbers.")

The sum of 5.0 and 10.0 is: 15.0

In [52]:
import sys

sys.argv = ["program.py", "example string"]

if len(sys.argv) != 2:
    print("Usage: python program.py <string>")
else:
    input_string = sys.argv[1]
    string_length = len(input_string)
    print(f"The length of the string '{input_string}' is: {string_length}")

The length of the string 'example string' is: 14

In [53]:
import math

number = float(input("Enter a number to calculate its square root: "))

if number >= 0:
    sqrt_result = math.sqrt(number)
    print(f"The square root of {number} is: {sqrt_result}")
else:
    print("Square root of a negative number is not defined in real numbers.")

Enter a number to calculate its square root: 36
The square root of 36.0 is: 6.0

In [57]:
from datetime import datetime

current_datetime = datetime.now()

print("Current date and time:", current_datetime.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time: 2025-01-16 06:54:26

In [58]:
import os

files = os.listdir()

print("Files in the current directory:")
for file in files:
    print(file)

Files in the current directory:
.git