In [7]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)
L.remove(10)
L.remove(30)
print(L)
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [18]:
marks=(45,89.5,76,45.4,89,92,58,45)
high=max(marks)
highIdx=marks.index(high)
print({highIdx:high})
low=min(marks)
cnt=marks.count(low)
print(low,cnt)
marks_rev=marks[::-1]
print(list(marks_rev))

flag=0
for mark in marks:
  if(mark==76):
    print(marks.index(mark))
    flag=1;
    break
if(flag==0):
  print('not found')

{5: 92}
45 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
not found

In [1]:
import random
rnd = []
for i in range(0,100):
    num = random.randint(100, 900)
    rnd.append(num)
print("List:",rnd)
odd = []
even = []
prime = []
for j in rnd:
    if j % 2 == 0:
        even.append(j)
    else:
        odd.append(j)
for k in rnd:
    if k > 1:
        pr = True
        for l in range(2, k):
            if k%l == 0:
                pr = False
                break
        if pr:
            prime.append(k)
print("Odd numbers:",odd,"\nNumber of odd numbers:",len(odd))
print("Even numbers:",even,"\nNumber of even numbers:",len(even))
print("Prime numbers:",prime,"\nNumber of prime numbers:",len(prime))

List: [691, 232, 443, 423, 327, 556, 248, 112, 737, 316, 760, 413, 549, 241, 446, 445, 841, 223, 460, 492, 779, 169, 217, 268, 432, 160, 501, 275, 652, 413, 809, 682, 189, 224, 444, 479, 198, 333, 589, 364, 350, 219, 740, 619, 386, 493, 724, 397, 642, 299, 649, 122, 166, 540, 329, 613, 755, 339, 339, 883, 849, 100, 588, 147, 494, 299, 748, 593, 395, 164, 587, 629, 401, 429, 210, 853, 164, 133, 886, 658, 464, 636, 267, 371, 388, 897, 723, 824, 421, 120, 261, 558, 481, 683, 386, 503, 569, 417, 552, 373]
Odd numbers: [691, 443, 423, 327, 737, 413, 549, 241, 445, 841, 223, 779, 169, 217, 501, 275, 413, 809, 189, 479, 333, 589, 219, 619, 493, 397, 299, 649, 329, 613, 755, 339, 339, 883, 849, 147, 299, 593, 395, 587, 629, 401, 429, 853, 133, 267, 371, 897, 723, 421, 261, 481, 683, 503, 569, 417, 373]
Number of odd numbers: 57
Even numbers: [232, 556, 248, 112, 316, 760, 446, 460, 492, 268, 432, 160, 652, 682, 224, 444, 198, 364, 350, 740, 386, 724, 642, 122, 166, 540, 100, 588, 494, 748, 164, 210, 164, 886, 658, 464, 636, 388, 824, 120, 558, 386, 552]
Number of even numbers: 43
Prime numbers: [691, 443, 241, 223, 809, 479, 619, 397, 613, 883, 593, 587, 401, 853, 421, 683, 503, 569, 373]
Number of prime numbers: 19

In [3]:
A={34,56,78,90}
B={78,45,90,23}


union=A.union(B)
print("unique score achived by both teams",union)


intersection=A.intersection(B)
print("\n common score ",intersection)


symm_dif=A.symmetric_difference(B)
print("score excluive to each team",symm_dif)


print("Is A is a subset of B?",A.issubset(B))
print("Is B is a subset of A?",B.issuperset(A))


x=int(input("enter score to remove from set A:"))
if x in A:
    A.remove(x)
    print("score",x,"removed from set A")
    print("A after removing the set score is",A)
else :
    print("score ",x,"is not present in set A.")

unique score achived by both teams {34, 45, 78, 23, 56, 90}

 common score  {90, 78}
score excluive to each team {34, 45, 23, 56}
Is A is a subset of B? False
Is B is a subset of A? False
enter score to remove from set A:34
score 34 removed from set A
A after removing the set score is {56, 90, 78}

In [5]:
data = {"name":'emrata',"city": "New York","population": 8000}
if "city" in data.keys():
    a = data.pop("city")
    data["location"] = a
print("dictionary after desired changes is:",data)

dictionary after desired changes is: {'name': 'emrata', 'population': 8000, 'location': 'New York'}